<!-- Default form login -->
<div class=" d-flex justify-content-center">
    <form class="text-center border border-light p-5">
        <p class="h4 mb-4">Registro</p>
        <!-- Nombre  -->
        <input type="text" id="name" class="form-control mb-4" placeholder="Nombre">
        <!-- Apellido Paterno  -->
        <input type="text" id="paterno" class="form-control mb-4" placeholder="Apellido paterno">
        <!-- Apellido Materno  -->
        <input type="text" id="materno" class="form-control mb-4" placeholder="Apellido materno">
        <!-- Usuario  -->
        <input type="text" id="usuario" class="form-control mb-4" placeholder="Usuario">
        <!-- Email -->
        <input type="email" id="email" class="form-control mb-4" placeholder="E-mail">
        <!-- Password -->
        <input type="password" id="password" class="form-control mb-4" placeholder="Contraseña">
        <!-- Password -->
        <input type="password" id="passwordConfirm" class="form-control mb-4" placeholder="Confirmar Contraseña">
        <!-- Sign in button -->
        <button class="btn btn-warning m-3" type="button">Registrarse</button>
    </form>
      <!-- Default form login -->
</div>