<div class="list-group p-5 m-5">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ruta del taco</h5>
        <small>2 hrs</small>
        <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small>Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ruta del pulque</h5>
        <small class="text-muted">3 hrs</small>
        <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Ruta de la cerveza</h5>
        <small class="text-muted">3 hrs y media</small>
        <mat-icon aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
  </div>
