body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

a{
    color: cornsilk;
}

p {
    font-size: 16px;
}

address > a{
    font-size: 10px;
}

footer :first-child{
    margin-top: 1rem;
}
.margin {
    margin-bottom: 45px;
}

.limits{
    padding-top: 5%;
    padding-bottom: 10%;
}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
    padding-bottom: 0.5%;
}

.img-fluid{
    width: 250px;
    height: 300px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}